<!DOCTYPE html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css"/>
<script type="text/javascript" src="https://code.jquery.com/ui/1.10.3/jquery-ui.css"></script>

<!-- HTML DO ZABAW -->

<!-- Skrypty JavaScript -->
<script type="text/javascript" src=""></script>


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
HEADRECRUITER PAGE
<div>
    <button type="button" class="btn btn-primary">Primary</button>
</div>

</body>
</html>