ul.top-nav {
    list-style-type: none;
    font-size: large;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

.top-nav li {
    float: left;
}

.top-nav a:hover {
    color: blue;
  }
  
li.logout{
float: right;
color: white;
}
li.logout a{
    color: white;
}

li.logout a:hover{
    color: red;
}

.top-nav a{
    display: block;
    color: darkgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
