.sidenav {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    text-align: left;
    font-size: 25px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: green;
  }

  .sidenav a.help:hover {
    color: blue;
  }

  .sidenav a.logout:hover {
    color: red;
  }
  
  .main {
    margin-left: 20%; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    height: 100%;
  }
  
  .image{
      width: 50px;
      height: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }