
/* NavBar */
ul.navBar {
    margin-left: 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: gold;
}

li.navBar {

    padding: 4px;
}

li.navBar a.navBar {

    display: block;
    background-color: dodgerblue;
    border-radius: 15px;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

li.navBar a.navBar:hover {
    color: dodgerblue;
    background-color: white;
}

li.navBarToLeft {
    margin: 0 0px;
    float: left;
}

li.navBarToRight {
    margin: 0 4px;
    float: right;
}

button.loginButton {
    margin-right: 4px;
    background-color: dodgerblue;
    color: white;
    border-radius: 15px;
    border: 0;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

/* Login button. */
button.loginButton:hover {
    background-color: white;
    color: dodgerblue;
}

button.loginButton:focus{
    outline: none;
}

/* Page content styles. */
p.pageContent {
    margin: 70px 180px 20px;
    padding: 18px 20px;
    border-radius: 5px;
    height: 780px;
    background-color: lightgray;
}

p.footerSection {
    box-sizing: border-box;
    width: 100%;
    margin: 30px 0 0 0;
    padding: 5px;
    background-color: gold;
}

footer.footerSection {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: lightgray;
    height: 140px;
}


/* Slideshow styles*/

div.slide{
    margin: 60px 160px 20px;
    padding: 18px 20px;
    border-radius: 5px;
    height: 700px;
    background-color: lightgray;
}

.next{
    margin-top: 330px;
    float: right;
}

.prev{
    margin-top: 330px;
    float: left;
}

.next, .prev{
    border: 0;
    border-radius: 4px;
}

button.next:hover, button.prev:hover{
    background-color: lightgray;
}

button.next:focus, button.prev:focus {
    outline: none;
}
.dot{
    margin: 0 4px;
    background-color: lightgray;
    padding: 1px 10px;
    border-radius: 10px;
}