* {
    box-sizing: border-box;
  }

  div.pos-nav{
      background-color: black;
      padding: 20px;
  }

  .pos-nav button{
      padding: 8px;
      margin-left: 6px;
      border: none;
      width: 30%;
  }

  .pos-nav button:hover{
      background-color: green;
  }

  .pos-nav input{
    padding: 8px;
    margin-left: 6px;
    border: none;
    width: 30%;
  }

  div.pos-add{
    background-color:  grey;
    padding: 20px;
  }

  .pos-add input{
    float: left;
    padding: 8px;
    margin-left: 0;
    border: none;
    width: 30%;
  }

  .pos-add textarea{
    float: left;
    padding: 8px;
    margin-top: 8px;
    border: none;
    width: 100%;
  }

  .pos-add button{
    margin-left: 70%;
    padding: 8px;
    margin-top: 8px;
    border: none;
    width: 30%;
  }

  .pos-add button:hover{
    background-color: greenyellow;
  }

.pos-list thead{
  background-color:  grey;
  }

  .pos-list button{
    font-size: large;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    border: 4px solid black;
  }

  .pos-list button:hover{
    background-color: red;
    color: white;
    border: 4px solid red;
  }