* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.r-row::after {
  content: "";
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
}

[class*="col-"] {
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 100%;
}
.col-4 {
  width: 100%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 100%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.r-header {
  color: #ffffff;
  padding: 15px;
}

.r-menu {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: black;
  text-align: left;
  display: block;
}

.r-menu label {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.r-menu ul {
  list-style-type: none;
  margin: 0;
  background-color: black;
  margin-bottom: 15px;
}

.r-menu a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition: all 1s ease;
}

.r-menu li {
  width: 25%;
  color: #ffffff;
  display: inline-block;
  text-align: center;
}
.r-menu footer {
  color: black;
  position: fixed;
  left: 20px;
  top: -50px;
}

.footerContent {
  display: block;
}
/*
.r-menu li.interactive:hover {
  background-color: #0c0d0d;
}
*/
.r-menu a:hover {
  color: royalblue;
}

.imgSize {
  display: flex;
  width: 35px;
  height: 35px;
  background-color: royalblue;
  border-radius: 35%;
  padding: 5px;
  margin: auto;
}

.r-content input {
  background-color: white;
  margin: 2px;
  padding: 10px;
  border: solid;
  border-color: royalblue;
  border-width: 2px;
}

.r-content label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 4px;
}

.r-content button {
  background-color: white;
  margin: 2px;
  padding: 10px;
  border: solid;
  border-color: royalblue;
  border-width: 2px;
}

.r-content select {
  background-color: white;
  margin: 4px;
  padding: 10px;
  border: solid;
  border-color: royalblue;
  border-width: 2px;
}
.helpOptionRecruit {
  margin: 0;
  padding: 0;
  display: block;
  background-color: white;
  width: 100%;
  height: 40%;
}
.helpTitleRecruit {
  font-size: 2vw;
}
.helpContentRecruit {
  font-size: 23px;
  line-height: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

input.sub {
  background-color: white;
  width: 20%;
  padding: 10px;
}

input.sub:hover {
  background-color: rgb(109, 180, 39);
}

div.recruits {
  margin-left: 40%;
  font-size: 16px;
}

.recruits li {
  list-style-type: none;
}

.recruits button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  border-radius: 25px;
}

.recruits button:hover {
  background-color: #008cba;
  color: white;
}

.params input {
  border: none;
  color: white;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  border-radius: 25px;
}

.params input[type="submit"]:hover {
  background-color: #008cba;
  color: white;
}
