table{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    float: left;
    font-size: 15px;
    background-color: #dddddd;
    color: black;
}

table, th, td{
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #818181;
  }

  div.searchParamsForm{
        font-family: Arial, Helvetica, sans-serif;
        color: #818181;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        margin: 0;
        font-size: 18px;
        float: left;
        margin-right: 10%;
        background-color: #111;
  }

  input.searchParamsForm{
        padding: 8px;
        border-radius: 6px;
        margin-left: 4px;
        border: none;
  }

  button.searchParamsForm{
    padding: 8px;
    border-radius: 6px;
    margin-left: 4px;
    border: none;
  }

  button.searchParamsForm:hover{
    background-color: green;
    color: white;
  }

  ul.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

  ul.list > li{
    display: inline-table;
    margin-left: 20px;
  }

  div.listing-a{
    background-color: rgb(51, 52, 128);
  }
  div.listing{
      padding: 10px;
      width: 100%;
      text-align: left;
      
      border: none;
      color: white;
  }
  div.listing-a:nth-child(even){
    background-color: rgb(70, 72, 167);
  }
  .listing label{
    margin-left: 10px;
    font-size: large;
  }

  button.dropButton{
      width: 100%;
      background-color: wheat;
      border: none;
      color: black;
  }

  button.dropButton:hover{
    background-color: white;
    color: black;
  }

  button.addDecision{
    font-size: large;
    width: 100%;
    border: none;
    background-color: wheat;
    color: black;
  }

  button.addDecision:hover{
    background-color: white;
    color: black;
  }

  textarea.description{
    margin-left: 5%;
    width: 90%;
    height: 100px;
    padding: 0;
  }

  button.pdfButton{
    margin-left: 90%;
    background-color: #dddddd;
    color: black;
    padding: 8px;
    border: none;
    border-radius: 15px;
  }
  button.pdfButton:hover{
    background-color: green;
    color: white;
  }